<div class="row screen">

    <div class="collumnII">
        <div class="trasation">
            <div>
                <h1 class="title">Caixa</h1>
            </div>

            <div class="row">

                <div class="col buttons">

                    <div class=" btnAlign">
                        <button class="btn btnCSS2" (click)="receitas()"><a routerLink="/caixaGeral/caixa/receita">Receitas</a></button>
                    </div>

                    <div class=" btnAlign">
                        <button class="btn btnCSS2" (click)="despesas()"><a routerLink="/caixaGeral/caixa/despesa">Despesas</a></button>
                    </div>

                    <div class=" btnAlign">
                        <button class="btn btnCSS2" (click)="newTransaction()"><a routerLink="/caixaGeral/caixa/cadastroDeTransacao">Nova
                                Transação</a></button>
                    </div>


                </div>

                <div class="financialResume col">

                    <div class="col m-2 statusExterno2 table2">
                        <div class="statusInterno2">
                            <table class="tabelaStatus2">

                                <tr class="mainBar2">
                                    <th class="sizeTable" colspan="2">Resumo Financeiro</th>
                                </tr>
                                <tbody>
                                    <tr>
                                        <td class="left">Receitas recebidas</td>
                                        <td class="right" receiptReceived="receiptReceived">xxxx</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="left">Receitas não recebidas</td>
                                        <td class="right" receiptNotReceived="receiptNotReceived">xxxx</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr class="colorLine">
                                        <td class="left">TOTAL DE RECEITAS</td>
                                        <td class="right">xxxx</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td class="left">Despesas pagas</td>
                                        <td class="right">xxxx</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td class="left">Despesas não pagas</td>
                                        <td class="right">xxxx</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr class="colorLine">
                                        <td class="left">TOTAL DE DESPESAS</td>
                                        <td class="right">xxxx</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr style="font-weight: bold;">
                                        <td class="left">SALDO EM CAIXA</td>
                                        <td class="right">xxxx</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <router-outlet></router-outlet>
    </div>
</div>