.corFundoDiv{
    background-color: #274C77;
}
.fundoBtn{
    background-color: #34C096;
}
.tamanhoText{
    font-size: 19px;
    margin-bottom: 20px;
}
.divWidth{
    width: 520px;
    
}
tbody{  
    background-color: white;
}
thead{
    background-color: #274C77;
}

.margin {
    margin: 5px 0px 3px 0px;
}

