.corFundoDiv{
    background-color: #274C77;
}
.fundoBtn{
    background-color: #34C096;
}
.tamanhoText{
    font-size: 14px;
}
.divWidth{
    width: 520px;
    
}
tbody{  
    background-color: white;
}
thead{
    background-color: #274C77;
}

